{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions. Part 2: Working together with your partner
{% endblock %}

{% block content %}

    {% include 'wedr/includes/instructions2.html' %}



    <div class="my-3">
        <div>
            On the next page, we will ask you a few questions to check that you have understood the instructions.
        </div>
        <div class="my-3">
            {% next_button %}
        </div>
    </div>
{% endblock %}


