{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to our study!
{% endblock %}

{% block content %}

    <div class="card my-3">

        <div class="card-body">
            <div class="list-group list-group-flush">

                <div class="list-group-item">
                    In this study, you will work with another Prolific participant. Together you will solve a series of
                    simple puzzles. Detailed instructions can be found on the next page.
                </div>
                <div class="list-group-item">
                    <b>Communication:</b>You will need to communicate with your partner via a chat interface in order to
                    solve the puzzles effectively.
                </div>
                <div class="list-group-item ">
                    <b>Objective: </b> Your goal is to decode {{  num_puzzles}} words together with your partner.
                    
                    

                </div>

                <div class="list-group-item lead text-center">
                   Let’s go!
                </div>


            </div>


        </div>
    </div>








    {% next_button %}
{% endblock %}


