{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to our study!
{% endblock %}

{% block content %}
    <div class="alert alert-danger lead text-center">
       It is important to continue with this study immediately so as not to keep the other participants waiting. 
        If you are not ready to start the study, we kindly ask you to <b>return</b> the task at Prolific.

        <br>
    If you do not continue within the time specified above, you will be automatically <b>removed</b> from the study.
    </div>

    <div class="card my-3">

        <div class="card-body">
            <div class="list-group list-group-flush">

                <div class="list-group-item">
                    In this study, you will work with another Prolific participant. Together you will solve a series of
                    simple puzzles. Detailed instructions can be found on the next page.
                </div>
                <div class="list-group-item">
                    <b>Communication:</b> You will need to communicate with your partner via a chat interface in order
                    to
                    solve the puzzles effectively.
                </div>
                <div class="list-group-item ">
                    <b>Objective: </b> Your goal is to decode words together with your partner within a given time
                    limit.


                </div>

                <div class="list-group-item lead text-center">
                    Let’s go!
                </div>


            </div>


        </div>
    </div>








    {% next_button %}
{% endblock %}


