{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}


    Additional task: Instructions
{% endblock %}


{% block content %}
    {% include 'wedr/includes/guess_instructions.html' %}

    <div class="card my-3 elevation-3">
     <div class="card-header  font-weight-bold">Choose the correct answer:</div>
        <div class="card-body">

            <div class="card-text">

                <p>
                    To qualify for the additional bonus in this study, you must:
                </p>
                <ul>
                    <li>A) Ask your partner what answers they gave to the statements listed above.</li>
                    <li>B) Complete the tasks and indicate your partner's opinion.</li>
                    <li> C) Have your answers match your partner's answers.</li>
                </ul>
                <div>
                    {%  formfield  player.guess_check label='' %}
                </div>
            </div>
        </div>
    </div>
    {% next_button %}

{% endblock %}
