{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Information about your partner
{% endblock %}

{% block content %}
    <style>
        .red {
            color: red;
            font-weight: bold;
        }
    </style>
    In the beginning of the study you and your partner answerd among other things questions about your attitudes.
    You were matched with a partner who <span class="red">disagrees</span> with you on <b>at least one</b> of the
    following statements:

    <ul class="list-group my-3">

        {% for i in statements %}
            <li class="list-group-item">
                {{ i.text }}
            </li>

        {% endfor %}
    </ul>



    <div id="clock" class="alert alert-info">You can proceed in <span id="time">30</span> seconds...</div>

    <!-- Assuming your next button has an id of "next-button"; if not, adjust the selector accordingly -->

    <div class="d-none" id="next-button">
        {% next_button %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>

    <script>
        $(document).ready(function () {
            var finalDate = new Date().getTime() + 10000; // Current time + 30 sec

            $('#clock').countdown(finalDate)
                .on('update.countdown', function (event) {
                    $('#time').text(event.strftime('%S')); // Update the time display
                })
                .on('finish.countdown', function (event) {
                    $('#next-button').removeClass('d-none'); // Show the next button
                    $('#clock').hide(); // Optionally hide the countdown message
                });
        });
    </script>

{% endblock %}


