{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Round {{ view.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    <script>

    $(document).ready(function(){

        window.liveSend=liveSend

    }
    )
    </script>
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

  <script type="module" crossorigin src="{% static 'front/index.js'  %}"></script>
  <link rel="stylesheet" href="{% static 'front/index.css'  %}">


   <style>
    div#app{padding: 0px!important;}
  </style>
  <div id="app"></div>

</body>



{% endblock %}


