<div class="container my-3">
    <div class="card">
        <div class="card-header">
            <h2>Instructions for the Word Decoding Task</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Objective</h5>
            <p class="card-text">
                In this task, you are required to decode words that are represented by emojis. Your goal is to correctly
                identify the word that each set of emojis represents.
            </p>
            <h5 class="card-title">How to Play</h5>
            <ol>
                <li>
                    <strong>Dictionary:</strong> At the top of the screen, you will see a dictionary that shows the
                    correspondence between each letter of the alphabet and a specific emoji.
                    <ul>
                        <li>For example, if 😊 corresponds to 'A', every time you see 😊, it represents the letter 'A'.
                        </li>
                        <li><strong>Note:</strong> The dictionary will change for each new word.</li>
                    </ul>
                </li>
                <li>
                    <strong>Encoded Word:</strong> Below the dictionary, you will see a word that is encoded using these
                    emojis.
                    <ul>
                        <li>For instance, if you see 😊😎👍, and 😊 corresponds to 'A', 😎 to 'B', and 👍 to 'C', the encoded
                            word is 'ABC'.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Input Field:</strong> You will also see an input field where you can type in the decoded
                    word.
                </li>
            </ol>
            <h5 class="card-title">Rules</h5>
            <ul>
                <li>You must type the word in accordance with the emoji-to-letter dictionary provided. Both capitalized
                    and lowercase letters are acceptable
                </li>
                <li>The program will not allow incorrect answers. If you enter a wrong word, you will need to try again
                    until you get it right.
                </li>
            </ul>
            <h5 class="card-title">Tips</h5>
            <ul>
                <li>Pay close attention to the dictionary, as it is your key to decoding the words correctly.</li>
                <li>Take your time. There is no time limit for each word.</li>
            </ul>
            <h5 class="card-title">Ready to Start?</h5>
            <p>When you are ready, click the 'Next' button to begin the task.</p>
        </div>
    </div>
</div>
