<div class="container my-3">
    <div class="card">

        <div class="card-body">
          <div class="list-group">
  <div class="list-group-item">
    <strong>Dictionary:</strong> At the top of the screen, you will see a dictionary that shows the correspondence between each letter of the alphabet and a specific emoji. For example, if 😊 corresponds to 'A', every time you see 😊, it represents the letter 'A'.
  </div>
  <div class="list-group-item">
    <strong>Encoded Word:</strong> Below the dictionary, you will see a word that is encoded using these emojis. For instance, if you see 😊😎👍, and 😊 corresponds to 'A', 😎 to 'B', and 👍 to 'C', the encoded word is 'ABC'.
  </div>
  <div class="list-group-item my-3">
    <strong>Input Field:</strong> You will also see an input field where you can type in the decoded word.
  </div>
  <div class="list-group-item" style="border-bottom: 1px solid #ddd;">1. You will be paired up with another Prolific user randomly.</div>
  <div class="list-group-item" style="border-bottom: 1px solid #ddd;">2. Decipher an English word, each letter encoded as a different emoji.</div>
  <div class="list-group-item" style="border-bottom: 1px solid #ddd;">3. At your screen you have only half the letters/emojis of the word.</div>
  <div class="list-group-item" style="border-bottom: 1px solid #ddd;">4. Your partner has the remaining letters/emojis.</div>
  <div class="list-group-item" style="border-bottom: 1px solid #ddd;">5. Discuss with your partner to exchange missing emojis and share your emoji-letter correspondences.</div>
  <div class="list-group-item" style="border-bottom: 1px solid #ddd;">6. You both need to submit the correct answer to proceed.</div>

</div>


        </div>
    </div>
</div>
